body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: black;
  padding: 0;
}
.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  gap: 30px;
  z-index: 1;
  background: rgb(96, 95, 95);
  border: 1px solid black;
  color: white;
}
.foot {
  margin-top: 130px;
  background: rgb(27, 27, 27);
}

.filter-bar {
  display: flex;
  position: fixed;
  top: 88px;
  width: 100%;
  height: 40px;

  z-index: 1;
  justify-content: center;
  margin: 1rem 0;
  gap: 0.5rem;
}

.filter-bar button {
  padding: 0.5rem 1rem;
  cursor: pointer;

  border: 1px solid gray;
}

.filter-bar .active {
  background: #0077b6;
  color: white;
}

.guppy-grid {
  display: flex;
  position: relative;
  top: 130px;

  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.out-stock {
  color: red;
}

.guppy-card {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
  width: 240px;
  color: white;
  height: 358px;
}
.search {
  width: 500px;
  font-size: 20px;
  background: gainsboro;
  height: 50px;
  border: none;
  padding: 1px 150px 1px 50px;
  margin-right: 100px;
}
.guppy-card img {
  width: 100%;
  height: 200px;
}
.logo-span {
  display: flex;
  gap: 15px;
  align-items: center;
}

.guppy-detail {
  padding: 1rem;
  font-size: larger;
  color: white;
}

.guppy-detail img,
.guppy-detail video {
  max-width: 400px;
  display: block;
  margin-bottom: 1rem;
}
.lnk {
  text-decoration: none;
  color: white;
}

.buttons a {
  display: inline-block;
  margin-right: 1rem;
  background: #25d366;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.sp span {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.what {
  font-size: 40px;
  margin-top: 30px;
  color: rgb(23, 231, 23);
}
.insta {
  font-size: 40px;
  margin-top: 30px;
  color: rgb(199, 45, 199);
}
.yout {
  color: red;
  margin-top: 30px;
  font-size: 40px;
}

footer {

  color: white;
  text-align: center;
  padding: 1rem;
  height: 110px;
  margin-top: 2rem;
}
.sp {
  display: flex;
  gap: 250px;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin: auto;
}

.carousel-media {
  width: 100%;
  height: 310px;
  border-radius: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: rgb(131, 95, 95);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: rgb(241, 234, 234);
}
.des {
  margin-top: 70px;
}
@media (min-width: 400px) and (max-width: 499px) {
  .guppy-card {
    width: 280px;
    height: 350px;
  }
  .search {
    padding: 10px 18px 10px 10px;
    height: 10px;
    background: gainsboro;

    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .guppy-card {
    width: 290px;
    height: 350px;
  }
  .filter-bar {
    top: 62px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 340px;
  }
  .filter-bar .active {
    width: 100px;
    border: none;
  }
  .logo-span h2 {
    font-size: 17px;
  }

  .search {
    padding: 10px 22px 10px 12px;
    height: 10px;
    background: gainsboro;

    font-size: 16px;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }
  .guppy-grid {
    top: 110px;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 40px;
  }
  .sp {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
  }
  .sp span {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .what {
    font-size: 40px;
    margin-top: 30px;
    color: rgb(23, 231, 23);
  }
  .insta {
    font-size: 40px;
    margin-top: 30px;
    color: rgb(199, 45, 199);
  }
  .yout {
    color: red;
    margin-top: 30px;
    font-size: 40px;
  }
}
@media (min-width: 560px) and (max-width: 835px) {
  .search {
    width: 150px;
    height: 22px;
    background-color: gainsboro;
    font-size: 20px;
    border: none;
    padding: 10px 30px 10px 30px;
  }
  .logo-img {
    width: 50px;
    height: 50px;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .sp {
    display: flex;
    gap: 200px;
  }

  .logo-span h2 {
    font-size: 20px;
  }
  .filter-bar {
    top: 77px;
  }
  .sp {
    display: flex;
    gap: 120px;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 836px) and (max-width: 1200px) {
  .search {
    height: 46px;
    border: none;
    background: gainsboro;
  }
  .header {
    align-items: center;
  }
  .sp {
    display: flex;
    gap: 200px;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
  }
}
